<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= image_tag "ida-logo.png" %></h3>
    <nav>
      <ul class="nav masthead-nav">
          <li class="<%= 'active' if action_name=='index' %>"><%= link_to "Home", "/static_pages/index" %></li>
          <% (1..10).each do |index|; name = "training#{index}"; %>
            <li class="<%= 'active' if action_name==name %>"><%= link_to "T#{index}", "/static_pages/#{name}" %></li>  
          <% end %>
      </ul>
    </nav>
  </div>
</div>